{{ define "slack.title" }}
  FA[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.job }}
  {{- if .CommonLabels.service_name }} ({{ .CommonLabels.service_name }}){{ end }}
  {{- if .CommonLabels.datacenter }} ({{ .CommonLabels.datacenter }}){{ end }}
{{ end }}

