{{ define "slack.text" -}}

  {{ with index .Alerts 0 -}}
    {{- if .Labels.origin }}*Origin*: <https://manage.fastly.com/stats/real-time/services/{{ .Labels.service_id }}/datacenters/all/origins/{{ .Labels.origin }}|{{ .Labels.origin }}>{{ "\n" }}{{ end }}
    {{- if .Labels.service_id }}*Service ID*: <https://manage.fastly.com/configure/services/{{ .Labels.service_id }}|{{ .Labels.service_id }}>{{ end }}
  {{ end }}

  {{- range .Alerts }}
    • <{{ $.ExternalURL }}/#/alerts?filter=alertname%3D%22{{ .Labels.alertname }}%22|{{ .Labels.alertname }}> {{ .Annotations.description -}}
  {{ end }}
{{ end }}

